[Unit]
Description=git-push service

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/bms-backup
PrivateTmp=true
Type=oneshot
# ExecStartPre=/bin/bash -xe -c "echo `pwd` && git reset --hard origin/master"
ExecStart=/home/ubuntu/bms-backup/git-push-expect.sh

[Install]
WantedBy=multi-user.target
